.git
.env
.env.example
.env.backup
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
.phpunit.result.cache
tests/
.editorconfig
.gitattributes
.gitignore
README.md
*.md
.vscode
.idea