:8000 {
    bind 0.0.0.0
    root * /app/public
    
    php_server {
        root /app/public
    }
    
    encode gzip
    file_server
    
    log {
        output stderr
        format console
    }
}